[submodule "declarative-smart-contracts"]
	path = declarative-smart-contracts
	url = https://github.com/loulankxh/declarative-smart-contracts.git
[submodule "gasOpt-test"]
	path = gasOpt-test
	url = https://github.com/loulankxh/gasOpt-test.git
[submodule "smart_contracts_evaluation"]
	path = smart_contracts_evaluation
	url = https://github.com/jyl-jyl/smart_contracts_evaluation.git
[submodule "gasOpt-setGeneration"]
	path = gasOpt-setGeneration
	url = https://github.com/taoluo/gasOpt-setGeneration.git
